@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

@media (max-width: 400px) {
    .row {
      display: block;
    }
  }

:root {
    --clr-1: #cdc1ff;
    --clr-2: #7371fc;
    --clr-3: #a594f9;
    --clr-body: #141414;
    --clr-calc: #191919;
}

html {
    min-height: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--clr-body);
    min-height: 100%;
    min-width: 100%;
    display: grid;
    place-content: center;
    margin: 0;
}

#calculator {
    height: 80vh;
    width: 60vh;
    background: var(--clr-calc);
    border-radius: 0.5rem;
    position: relative;
}

#calculator::before,
#calculator::after {
    content: '';
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background:  conic-gradient(
        from var(--gradient-angle),
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1));
    border-radius: inherit;
    animation: rotation 15s linear infinite;
}

#calculator::after {
    filter: blur(3.5rem);
}

#calculator {
    display: flex;
    flex-direction: column;
}

#display-container {
    flex: auto;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    padding-right: 30px;
}

#updating-operation {
    display: inline-block;
    text-align: end;
    flex-grow: 1;
    height: 5vh;
    width: 100%;
    font-size: 5vh;
    color: white;
    overflow-x: clip;
    white-space: nowrap;
}

#display {
    display: inline-block;
    text-align: end;
    flex-grow: 1;
    height: 70%;
    width: 100%;
    font-size: 12vh;
    color: white;
    overflow-x: clip;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 75%;
    padding: 6px;
    gap: 6px;
}

button {
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 6vh;
    color: white;
    background-color: #191919;
    border: none;
    cursor: pointer;
    box-shadow: inset 3px 3px 7px #353535,
    inset -3px -3px 7px #0b0b0b;
}

button:active {
    box-shadow:  inset -3px -3px 7px #353535,
    inset 3px 3px 7px #0b0b0b;  
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 6px;
}

.col {
    flex: 1;
    gap: 6px;
}

#clear-button {
    flex: 1 0 71%;
    /* flex-basis: 75%; */
}

#divide-button {
    flex: 1 0 20%;
    /* flex-basis: 25%; */
}

.functional-button {
    color: #7371fc;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 150px;
    height: 30px;
    border: solid 2px var(--clr-2);
    border-left: none;
    border-bottom: none;
    border-radius: 0px 6px 0px 0px;
    background-color: var(--clr-body);
    color: var(--clr-3);
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white;
  }