@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

@media (max-width: 400px) {
    .row {
      display: block;
    }
  }

:root {
    --clr-1: #c7f9cc;
    --clr-2: #22577a;
    --clr-3: #38a3a5;
    --clr-body: #0d1b2a;
    --clr-calc: #1b263b;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    background: var(--clr-body);
    min-height: 100%;
    min-width: 100%;
    display: grid;
    place-content: center;
}

#calculator {
    height: 80vh;
    width: 60vh;
    background: var(--clr-calc);
    border-radius: 0.5rem;
    position: relative;
}

#calculator::before,
#calculator::after {
    content: '';
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background:  conic-gradient(
        from var(--gradient-angle),
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1));
    border-radius: inherit;
    animation: rotation 15s linear infinite;
}

#calculator::after {
    filter: blur(3.5rem);
}

#calculator {
    display: flex;
    flex-direction: column;
}

#display-container {
    flex-grow: 1;
    height: 33%;
    display: flex;
    flex-direction: column;
}

#updating-operation {
    flex-grow: 1;
    height: 50%;
}

#display {
    flex-grow: 1;
    height: 50%;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 66%;
    padding: 6px;
    gap: 6px;
}

button {
    border-radius: 6px;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 6px;
}

.col {
    flex: 1;
    gap: 6px;
}

#clear-button {
    flex: 1 0 71%;
    /* flex-basis: 75%; */
}

#divide-button {
    flex: 1 0 20%;
    /* flex-basis: 25%; */
}